<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' data: gap: /js/scripts.js 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->
    <title>Chat App</title>
    <link rel="icon" href="/img/chatapp_logo.svg" type="image/svg" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
    <!--? Nav Start -->
    <div class="nav_container">
        <div class="logo">
            <img src="/img/chatapp_logo.svg" alt="ChatAppLogo" width="40">
        </div>
        <div class="profile_img" id="profile_img">
            <img src="/img/chatapp_logo.svg" alt="ChatAppLogo" width="40">
        </div>
        <div class="profile hidden" id="profile_menu">
            <div class="user_profile">
                <div class="user_detials">
                    <span class="user_img">
                        <img src="/img/chatapp_logo.svg" alt="ChatAppLogo" width="45">
                    </span>
                    <span class="user_info">
                        <h3>Username</h3>
                        <p>example@gmail.com</p>
                    </span>
                </div>
                <div class="user_manage">
                    <a href="#">Manage Your account</a>
                </div>
            </div>
            <a href="#" class="user_logout">
                <p>Logout</p>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    </div>
    <!--? Nav End -->
    <!--? Chat Start -->
    <div class="chat_container">

        <div class="users_box">
            <div class="active_users" id="active_users">
            </div>
            <div class="add_friend" id="add_friend">
                <p>Add Friend</p>
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="chat_box">
            <div class="message_history" id="message_history">
                <!-- todo Incoming message -->
                <!-- 
                <div class="chat_incoming">
                    <div class="incoming_message">
                        <p>${message}</p>
                        <div className="user_id">
                            <span>${userID}</span>
                        </div>
                    </div>
                </div> -->

                <!-- todo Outgoing message -->
                <!-- <div class="chat_outgoing">
                    <div class="outgoing_message">
                        <p>${message}</p>
                        <div className="time">
                            <span>${current_time}</span>
                        </div>
                    </div>
                </div> -->
            </div>


            <span class="user_typing" id="user_typing"></span>
            <div class="form_container">
                <form id="user_form">
                    <input type="text" name="message" id="user_message" placeholder="Type message..."
                        autocomplete="off">
                    <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
                </form>
            </div>
        </div>


    </div>
    <!--? Chat End -->
    <!--? Search Friend Start -->
    <div class="add_container hidden_addcontainer" id="add_container">
        <div class="search_container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="search" id="search" placeholder="Search Friends" autocomplete="off" />
        </div>
        <div class="show_fri">\
            <% allUsers.forEach(user=> { %>
                <div class="show_user" id="<%= user.id %>">
                    <img src="<%= user.img %>" alt="user_icon" width="40">
                    <div class="show_user_info">
                        <p>
                            <%= user.username %>
                        </p>
                        <p>&nbsp; / &nbsp;</p>
                        <p>
                            <%= user.email %>
                        </p>
                    </div>
                    <div class="show_user_button">
                        <a href="/add?<%= user.id %>" class="add_button">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <a href="/message?<%= user.id %>" class="message_button">
                            <i class="fa-regular fa-comments"></i>
                        </a>
                    </div>
                </div>
                <% }); %>

        </div>
    </div>
    <div class="overlay hidden_overlay" id="overlay"></div>
    <!--? Search Friend End -->


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/user_socket.js" type="text/javascript"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>